In [5]:
import numpy as np
import pandas as pd
import ast

In [72]:
movies_raw = pd.read_csv('dataset/movies.csv')
credits_raw = pd.read_csv('dataset/credits.csv')
ratings = pd.read_csv('dataset/ratings.csv')

In [73]:
movies = movies_raw.merge(credits_raw,on='title')

In [74]:
# movies.dropna()

In [75]:
# movies = pd.read_csv('movies_new.csv')

In [76]:
# movies.dropna()
# movies = movies.sort_values(by = 'vote_count',ascending=False)

In [77]:
# movies = movies.head(1500)

In [78]:
movies.head(20)

,movieId,tmdbId,budget,genres,homepage,keywords,original_language,original_title,overview,poster_path,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,1,27205,160000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://inceptionmovie.warnerbros.com/,"[{""id"": 1014, ""name"": ""loss of lover""}, {""id"":...",en,Inception,"Cobb, a skilled thief who commits corporate es...",/edv5CZvWj09upOsy2Y6IwDhK8bt.jpg,...,148,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Your mind is the scene of the crime.,Inception,8.1,13752,27205,"[{""cast_id"": 1, ""character"": ""Dom Cobb"", ""cred...","[{""credit_id"": ""56e8462cc3a368408400354c"", ""de..."
1,2,155,185000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://thedarkknight.warnerbros.com/dvdsite/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight,Batman raises the stakes in his war on crime. ...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,...,152,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Why So Serious?,The Dark Knight,8.2,12002,155,"[{""cast_id"": 35, ""character"": ""Bruce Wayne"", ""...","[{""credit_id"": ""55a0eb4a925141296b0010f8"", ""de..."
2,3,19995,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
3,4,24428,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,...,143,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776,24428,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
4,5,293660,58000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.foxmovies.com/movies/deadpool,"[{""id"": 2095, ""name"": ""anti hero""}, {""id"": 307...",en,Deadpool,Deadpool tells the origin story of former Spec...,/fSRb7vyIP8rQpL0I47P3qUsEKX3.jpg,...,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the beginning of a happy ending,Deadpool,7.4,10995,293660,"[{""cast_id"": 99, ""character"": ""Wade Wilson / D...","[{""credit_id"": ""56c986b2925141172f0068b6"", ""de..."
5,6,157336,165000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",http://www.interstellarmovie.net/,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Interstellar,Interstellar chronicles the adventures of a gr...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,157336,"[{""cast_id"": 9, ""character"": ""Joseph Cooper"", ...","[{""credit_id"": ""52fe4bbf9251416c910e4801"", ""de..."
6,7,68718,100000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 37, ""name...",http://unchainedmovie.com/,"[{""id"": 801, ""name"": ""bounty hunter""}, {""id"": ...",en,Django Unchained,"With the help of a German bounty hunter, a fre...",/7oWY8VDWW7thTzWh3OKYRkWUlD5.jpg,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Life, liberty and the pursuit of vengeance.",Django Unchained,7.8,10099,68718,"[{""cast_id"": 6, ""character"": ""Django"", ""credit...","[{""credit_id"": ""5703f6a2c3a36869850001d9"", ""de..."
7,8,283995,170000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",http://marvel.com/guardians,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg,...,121,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,All heroes start somewhere.,Guardians of the Galaxy,7.9,9742,118340,"[{""cast_id"": 1, ""character"": ""Peter Quill / St...","[{""credit_id"": ""538ce329c3a3687155003358"", ""de..."
8,9,70160,75000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.thehungergames.movie/,"[{""id"": 3298, ""name"": ""hallucination""}, {""id"":...",en,The Hunger Games,Every year in the ruins of what was once North...,/1ewwtjqAcwZ5abr2X7coGN0UwaI.jpg,...,142,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,May The Odds Be Ever In Your Favor.,The Hunger Games,6.9,9455,70160,"[{""cast_id"": 4, ""character"": ""Katniss Everdeen...","[{""credit_id"": ""52fe47edc3a368484e0e0d2d"", ""de..."
9,10,76341,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.madmaxmovie.com/,"[{""id"": 2964, ""name"": ""future""}, {""id"": 3713, ...",en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,/8tZYtuWezp8JbcsvHYO0O46tFbo.jpg,...,120,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What a Lovely Day.,Mad Max: Fury Road,7.2,9427,76341,"[{""cast_id"": 2, ""character"": ""Max Rockatansky""...","[{""credit_id"": ""577da370c3a36817f8003838"", ""de..."
10,11,550,63000000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxmovies.com/movies/fight-club,"[{""id"": 825, ""name"": ""support group""}, {""id"": ...",en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,...,139,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mischief. Mayhem. Soap.,Fight Club,8.3,9413,550,"[{""cast_id"": 4, ""character"": ""The Narrator"", ""...","[{""credit_id"": ""55731b8192514111610027d7"", ""de..."
11,12,49026,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,/85cWkCVftiVs0BVey6pxX8uNmLt.jpg,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
12,13,624860,63000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",http://www.warnerbros.com/matrix,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,The Matrix,"Set in the 22nd century, The Matrix tells the ...",/8c4a8kE7PizaGQQnditMmI1xbRp.jpg,...,136,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Welcome to the Real World.,The Matrix,7.9,8907,603,"[{""cast_id"": 34, ""character"": ""Thomas \""Neo\"" ...","[{""credit_id"": ""5831cc6d92514162d2027340"", ""de..."
13,14,68721,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/ironman3,"[{""id"": 949, ""name"": ""terrorist""}, {""id"": 5597...",en,Iron Man 3,When Tony Stark's world is torn apart by a for...,/qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg,...,130,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Unleash the power behind the armor.,Iron Man 3,6.8,8806,68721,"[{""cast_id"": 40, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe47a0c3a368484e0d15cb"", ""de..."
14,15,1726,140000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",http://www.ironmanmovie.com/,"[{""id"": 539, ""name"": ""middle east""}, {""id"": 61...",en,Iron Man,"After being held captive in an Afghan cave, bi...",/78lPtwv72eTNqFW9COBYI0dWDJa.jpg,...,126,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Heroes aren't born. They're built.,Iron Man,7.4,8776,1726,"[{""cast_id"": 19, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4311c3a36847f8037f21"", ""de..."
15,16,120,93000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.lordoftherings.net/,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg,...,178,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,8.0,8705,120,"[{""cast_id"": 28, ""character"": ""Frodo Baggins"",...","[{""credit_id"": ""52fe421ac3a36847f80043fb"", ""de..."
16,17,135397,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg,...,124,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,135397,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
17,18,680,8000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,"[{""id"": 396, ""name"": ""transporter""}, {""id"": 14...",en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg,...,154,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,8.3,8428,680,"[{""cast_id"": 2, ""character"": ""Vincent Vega"", ""...","[{""credit_id"": ""52fe4269c3a36847f801caa3"", ""de..."
18,19,49051,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,"[{""id"": 483, ""name"": ""riddle""}, {""id"": 603, ""n...",en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",/yHA9Fc37VmpUA5UncTxxo3rTGVA.jpg,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,7.0,8297,49051,"[{""cast_id"": 6, ""character"": ""Gandalf"", ""credi...","[{""credit_id"": ""52fe4783c3a36847f8139fa5"", ""de..."
19,20,278,25000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",NaN,"[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,...,142,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8205,278,"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de..."

In [79]:
# movies.to_csv('movies_new.csv', header=True, index=False, encoding='utf-8')

In [80]:
movies = movies[['movieId','genres','keywords','title','overview','cast','crew','tmdbId']]

In [81]:
movies.dropna(inplace=True)

In [82]:
movies.duplicated().sum()

0

In [83]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 53, "name": "Thriller"}, {"id": 878, "name": "Science Fiction"}, {"id": 9648, "name": "Mystery"}, {"id": 12, "name": "Adventure"}]'

In [84]:
'''
Content based generation
'''

'\nContent based generation\n'

In [85]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [86]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [87]:
def convertCast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
            counter+=1
        else:
            break;
    return L

In [88]:
movies['cast'] = movies['cast'].apply(convertCast)

In [89]:
def fetchDirector(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break;
    return L

In [90]:
movies['crew'] = movies['crew'].apply(fetchDirector)

In [91]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [92]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [93]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [94]:
newDf = movies[['movieId','title','tags','tmdbId']]

In [95]:
newDf['tags'] = newDf['tags'].apply(lambda x: " ".join(x))

C:\Users\otbho\AppData\Local\Temp/ipykernel_7944/3762652423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['tags'] = newDf['tags'].apply(lambda x: " ".join(x))

In [96]:
newDf['tags'] = newDf['tags'].apply(lambda x: x.lower())

C:\Users\otbho\AppData\Local\Temp/ipykernel_7944/2614462281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['tags'] = newDf['tags'].apply(lambda x: x.lower())

In [97]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [98]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [99]:
newDf['tags'] = newDf['tags'].apply(stem)

C:\Users\otbho\AppData\Local\Temp/ipykernel_7944/877819958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['tags'] = newDf['tags'].apply(stem)

In [100]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [101]:
vectors = cv.fit_transform(newDf['tags']).toarray()

In [102]:
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
similarity = cosine_similarity(vectors)

In [104]:
def recommend(movieId):
    idx = newDf[newDf['movieId'] == movieId].index[0]
    distances = similarity[idx]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    L = []
    for i in movies_list:
        L.append(movies.iloc[i[0]].title)
    return L

In [105]:
recommend(21)

['The Lord of the Rings: The Two Towers',
 'The Hobbit: The Battle of the Five Armies',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation of Smaug',
 'Warcraft',
 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 'Brave',
 'Underworld: Rise of the Lycans',
 'The Scorpion King']

In [106]:
newDf

,movieId,title,tags,tmdbId
0,1,Inception,"cobb, a skill thief who commit corpor espionag...",27205
1,2,The Dark Knight,batman rais the stake in hi war on crime. with...,155
2,3,Avatar,"in the 22nd century, a parapleg marin is dispa...",19995
3,4,The Avengers,when an unexpect enemi emerg and threaten glob...,24428
4,5,Deadpool,deadpool tell the origin stori of former speci...,293660
...,...,...,...,...
1497,1496,xXx: State of the Union,"ice cube star as dariu stone, a thrill-seek tr...",11679
1498,1497,The Wolfman,"lawrenc talbot, an american man on a visit to ...",7978
1499,1498,Payback,"with friend like these, who need enemies? that...",2112
1500,1499,Child 44,"set in stalin-era soviet union, a disgrac mgb ...",181283
1501,1500,Wall Street,a young and impati stockbrok is will to do any...,106646

In [107]:
from joblib import dump
dump(similarity, 'model/content_based.joblib')
dump(newDf, 'model/movie_df.joblib')

['model/movie_df.joblib']

In [108]:
# ratings.to_csv('ratings.csv')

In [109]:
'''
Top Recommendation
'''

'\nTop Recommendation\n'

In [110]:

def weighted_rating(v,m,R,C):
    return ( (v / (v + m)) * R) + ( (m / (v + m)) * C )

In [111]:
# pre processing
vote_count = (
    ratings
    .groupby('movieId',as_index=False)
    .agg( {'userId':'count', 'rating':'mean'} )
    )
vote_count.columns = ['movieId', 'vote_count', 'avg_rating']

# calcuate input parameters
C = np.mean(vote_count['avg_rating'])
m = np.percentile(vote_count['vote_count'], 70)
vote_count = vote_count[vote_count['vote_count'] >= m]
R = vote_count['avg_rating']
v = vote_count['vote_count']
vote_count['weighted_rating'] = weighted_rating(v,m,R,C)

# post processing
vote_count = vote_count.merge(movies_raw, on = ['movieId'], how = 'left')
popular_items = vote_count.loc[:,['movieId','tmdbId','title','poster_path','backdrop_path','weighted_rating']]
popular_items = popular_items.sort_values('weighted_rating',ascending=False)
popular_items = popular_items.head(10)

In [112]:
from joblib import dump
dump(popular_items, 'model/top_rated.joblib')

['model/top_rated.joblib']

In [113]:
popular_items

,movieId,tmdbId,title,poster_path,backdrop_path,weighted_rating
9,20,278,The Shawshank Redemption,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg,4.686370
18,55,238,The Godfather,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,/AbgEQO2mneCSOc8CSnOMa8pBS8I.jpg,4.595461
1,2,155,The Dark Knight,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,/6fA9nie4ROlkyZAUlgKNjGNCbHG.jpg,4.504552
10,21,122,The Lord of the Rings: The Return of the King,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,/lXhgCODAbBXL5buk9yEmTpOoOgR.jpg,4.413643
5,13,624860,The Matrix,/8c4a8kE7PizaGQQnditMmI1xbRp.jpg,/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg,4.140916
7,16,120,The Lord of the Rings: The Fellowship of the Ring,/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg,/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg,4.129173
4,6,157336,Interstellar,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,4.050007
0,1,27205,Inception,/edv5CZvWj09upOsy2Y6IwDhK8bt.jpg,/ztZ4vw151mw04Bg6rqJLQGBAmvn.jpg,3.962506
3,4,24428,The Avengers,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg,3.868188
2,3,19995,Avatar,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,/jlQJDD0L5ZojjlS0KYnApdO0n19.jpg,3.712506

In [106]:
'''
CF Recommendation
'''

'\nCF Recommendation\n'

In [107]:
genre = movies['genres']
# get all possible genre
all_genre = set()
for c in genre:
    for i in c:
        all_genre.update(c)
#     distinct_genre = genre[c].str.lower().str.strip().unique()
#     all_genre.update(distinct_genre)
# all_genre.remove(None)
all_genre = list(all_genre)

In [108]:
from joblib import dump
dump(all_genre, 'model/genres.joblib')

['model/genres.joblib']

In [119]:
# create item-genre matrix
item_genre_mat = movies[['movieId', 'genres']].copy()
# item_genre_mat['genres'] = item_genre_mat['genres'].str.lower().str.strip()

# OHE the genres column
# for genre in all_genre:
#     item_genre_mat[genre] = np.where(item_genre_mat['genres'].str.contains(genre), 1, 0)
# item_genre_mat = item_genre_mat.drop(['genres'], axis=1)
# item_genre_mat = item_genre_mat.set_index('movieId')

TypeError: 'list' object cannot be interpreted as an integer

In [109]:

from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

NUM_USERS = 100
NUM_MOVIES = 1500


# preprocess data
row = ratings['userId']
col = ratings['movieId']
data = ratings['rating']

# init user-item matrix
mat = csr_matrix((data, (row, col)))
mat.eliminate_zeros()

# calculate sparsity
sparsity = float(len(mat.nonzero()[0]))
sparsity /= (mat.shape[0] * mat.shape[1])
sparsity *= 100
print(f'Sparsity: {sparsity:4.2f}%. This means that {sparsity:4.2f}% of the user-item ratings have a value.')

# compute similarity
item_corr_mat = cosine_similarity(mat.T)

Sparsity: 0.34%. This means that 0.34% of the user-item ratings have a value.

In [110]:
from joblib import dump
dump(item_corr_mat, 'model/cf_model.joblib')

['model/cf_model.joblib']

In [111]:
def top_k_items(item_id, top_k, corr_mat, map_name):
    # sort correlation value ascendingly and select top_k item_id
    top_items = corr_mat[item_id,:].argsort()[-top_k:][::-1] 
    top_items = [map_name[e] for e in top_items] 

    return top_items

In [112]:
# get top-k similar items
ind2name = {ind:name for ind,name in enumerate(item_genre_mat.index)}
name2ind = {v:k for k,v in ind2name.items()}

NameError: name 'item_genre_mat' is not defined

In [113]:
def getCfRecommendations(movieId):
#     if movie_cf_mat is None:      
#         r = open('model/cf_memory.pkl', 'rb')
#         movie_cf_mat = pickle.load(r)
#         print('loaded cf')
#         r.close()
    similar_items = top_k_items(name2ind[movieId],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)
    if(movieId in similar_items):
        similar_items.remove(int(movieId))
    res = movies.loc[movies['movieId'].isin(similar_items)]
    return res

In [114]:
getCfRecommendations(1484)

NameError: name 'name2ind' is not defined

In [115]:
movies_raw

,movieId,tmdbId,budget,genres,homepage,id,keywords,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,1,97,160000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://inceptionmovie.warnerbros.com/,27205,"[{""id"": 1014, ""name"": ""loss of lover""}, {""id"":...",en,Inception,"Cobb, a skilled thief who commits corporate es...",...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",14-07-2010,825532764,148,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Your mind is the scene of the crime.,Inception,8.1,13752
1,2,66,185000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://thedarkknight.warnerbros.com/dvdsite/,155,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",16-07-2008,1004558444,152,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Why So Serious?,The Dark Knight,8.2,12002
2,3,1,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
3,4,17,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",25-04-2012,1519557910,143,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776
4,5,789,58000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.foxmovies.com/movies/deadpool,293660,"[{""id"": 2095, ""name"": ""anti hero""}, {""id"": 307...",en,Deadpool,Deadpool tells the origin story of former Spec...,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",09-02-2016,783112979,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the beginning of a happy ending,Deadpool,7.4,10995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,768,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/xxxstateoft...,11679,"[{""id"": 521, ""name"": ""washington d.c.""}, {""id""...",en,xXx: State of the Union,"Ice Cube stars as Darius Stone, a thrill-seeki...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",27-04-2005,71073932,101,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Prepare for the next level,xXx: State of the Union,4.7,549
1496,1497,136,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",11-02-2010,0,102,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549
1497,1498,920,90000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",NaN,2112,"[{""id"": 242, ""name"": ""new york""}, {""id"": 2671,...",en,Payback,"With friends like these, who needs enemies? Th...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",05-02-1999,161626121,100,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No More Mr. Nice Guy.,Payback,6.7,548
1498,1499,1014,50000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name...",NaN,181283,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,Child 44,"Set in Stalin-era Soviet Union, a disgraced MG...",...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",15-03-2015,3324330,137,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,How do you find a killer who doesnâ€™t exist?,Child 44,6.1,547
1499,1500,2449,15000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,10673,"[{""id"": 3720, ""name"": ""power""}, {""id"": 4373, ""...",en,Wall Street,A young and impatient stockbroker is willing t...,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-1987,43848069,126,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Every dream has a price.,Wall Street,7.0,546

In [179]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import gc

# from collections import defaultdict

# # synthesize data
# NUM_USERS = 101
# NUM_ITEMS = 1501
# user_id = np.arange(start = 0, stop = NUM_USERS)
# item_id = np.arange(start = 0, stop = NUM_ITEMS)
# np.random.seed(42)

# user_item_dict = defaultdict(list)

# for id in user_id:
    
#     # random the number of item generation
#     # for each user, random 3 to 5 items to be rated.
#     num_rand_item = np.random.randint(low = 3, high = 8)

#     # random from the item_id
#     rand_items = np.random.choice(item_id, size = num_rand_item, replace = False)

#     # random rating for each itme_id
#     rand_rating = np.random.randint(low = 1, high = 5, size = num_rand_item)

#     # collect the user-item paris.
#     for uid, iid,rating in zip([id] * num_rand_item, rand_items, rand_rating):
#         user_item_dict['userid'].append(uid)
#         user_item_dict['movieId'].append(iid)
#         user_item_dict['rating'].append(rating)

# # prepare dataframe
# ratings = pd.DataFrame(user_item_dict)
# print("Rating Dataframe")
# ratings[['userid','movieId']] = ratings[['userid','movieId']].astype(str)
# display(ratings.head())

Rating Dataframe

  userid movieId  rating
0      0      51       1
1      0    1465       4
2      0     184       3
3      0    1000       4
4      0     746       3

In [184]:
# ratings.to_csv('ratings.csv',index=False)